.button {
    background-color: rgb(16, 173, 139);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: all 200ms ease-in-out;
}

.button:hover {
    background-color: rgb(9, 104, 83);
}
